<!DOCTYPE HTML>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Price_Server</title>
    <style>
        section{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(5, 1fr);
        }
    </style>
</head>
<body>
    <h1>Результат:</h1>
    <a href="/export">Экспорт в CSV</a>
        <section>
            <h4>Сайт</h4>
            <h4>Позиция</h4>
            <h4>Ссылка</h4>
            <h4>Цена на сайте</h4>
            <h4>Цена в прайсе</h4>
            {% for fail in fails%}
                <span>{{fail.site}}</span>
                <span>{{fail.name}}</span>
                <a href="{{fail.link}}" target="_blank">Перейти</a>
                <span>{{fail.price_fail}}</span>
                <span>{{fail.price_true}}</span>
            {% endfor %}
        </section>
</body>
</html>